# Byte-compiled / optimized files
*.py[cod]
__pycache__/

# IDE-specific files
.idea/
.vscode/

# Logs and databases
*.log
*.sqlite3
.logs/

# OS-specific files
.DS_Store
Thumbs.db

# Custom configuration file created during installation instructions
custom-config.yml

# Test folders
.test/

# All YAML files. These should be generated.
*.yml
*.yaml
